force-app/main/default/flows/Academic_Transcript_Update_Candidate_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Academic Transcript Update Candidate Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Academic Transcript Update Candidate Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Grad</name>
        <label>Get Grad</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Grad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Grad</name>
        <label>Update Grad</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Academic_Results__c</field>
            <value>
                <elementReference>AcedemicResults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Field_of_Study__c</field>
            <value>
                <elementReference>Quali</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Academic_Transcript_Issue__c</field>
            <value>
                <elementReference>DocIssued</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University_Academic_Results__c</field>
            <value>
                <elementReference>AcedemicResults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University_Average__c</field>
            <value>
                <elementReference>UniAve</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University_Name__c</field>
            <value>
                <elementReference>UniName</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Grad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AcedemicResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocIssued</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Quali</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StudentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UniAve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UniName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
