force-app/main/default/flows/Agent_Job_Applications_PF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_App</name>
        <label>Assign App</label>
        <locationX>1556</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>Application.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Job_Spec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Jobs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Overview_of_applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Questions_and_Answers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionsAndAnswersTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.What_makes_applicant_a_good_fit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>goodfit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_to_multipple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jobs_to_List</name>
        <label>Assign Jobs to List</label>
        <locationX>1519</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>Loop_Jobs.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Job_Spec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Candidate.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CandidateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Jobs.Questions_to_ask__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Questions_To_Ask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_to_multipple</name>
        <label>Assign Single to multipple</label>
        <locationX>1316</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jobs_Instructions</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Jobs Instructions</label>
        <locationX>1138</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Job Spec: {!Loop_Jobs.Id}
Candidate Email: {!Get_Candidate.Email__c}
Application Candidate: {!Get_Candidate.Id}
Questions To Ask: {!Loop_Jobs.Questions_to_ask__c}
Answers: {!Answers}
Questions and Answers: {!Loop_Jobs.Questions_to_ask__c}, {!Answers}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Jobs_to_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Agent Job Applications PF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Job Applications PF</label>
    <loops>
        <name>Loop_Jobs</name>
        <label>Loop Jobs</label>
        <locationX>1007</locationX>
        <locationY>462</locationY>
        <collectionReference>Get_Jobs_Specs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Jobs_Instructions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>691</locationX>
        <locationY>906</locationY>
        <inputReference>Applications</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Jobs_Specs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jobs_Specs</name>
        <label>Get Jobs Specs</label>
        <locationX>604</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QuestionsAndAnswersTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Question: {!Loop_Jobs.Questions_to_ask__c}
Answer: {!Answers}</text>
    </textTemplates>
    <variables>
        <name>Answers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ApplicationRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>badfit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>goodfit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job_Spec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Overview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QUestions_And_Answers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Questions_To_Ask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
