force-app/main/default/flows/Agent_Job_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_App</name>
        <label>Assign App</label>
        <locationX>1326</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Application.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Job_Spec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Jobs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Overview_of_applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Questions_and_Answers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.What_makes_applicant_a_good_fit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>goodfit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.What_requirements_Skills_missing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>badfit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_to_multipple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jobs_to_List</name>
        <label>Assign Jobs to List</label>
        <locationX>1141</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>Loop_Jobs.Questions_to_ask__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionsToAsk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_to_multipple</name>
        <label>Assign Single to multipple</label>
        <locationX>1182</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Agent Job Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Job Applications</label>
    <loops>
        <name>Loop_Jobs</name>
        <label>Loop Jobs</label>
        <locationX>1007</locationX>
        <locationY>462</locationY>
        <collectionReference>Job_Spec_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Jobs_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>691</locationX>
        <locationY>905</locationY>
        <inputReference>Applications</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>775</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Jobs_Specs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputReference>CandidateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Jobs_Specs</name>
        <label>Get Jobs Specs</label>
        <locationX>604</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobName</elementReference>
            </value>
        </filters>
        <object>Job_Spec__c</object>
        <outputReference>Job_Spec_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Questions_to_ask__c</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <queriedFields>Seniority_Level__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ApplicationRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>badfit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>goodfit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job_Spec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job_Spec_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
    <variables>
        <name>JobName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Overview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QAs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionsToAsk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
