force-app/main/default/flows/Application_RTF_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Candidate_Email_of_Site</name>
        <label>Copy 1 of Send Candidate Email of Site</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Candidate.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PwC Graduate Program App</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GraduateEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Candidate_Email_of_Site</name>
        <label>Send Candidate Email of Site</label>
        <locationX>759</locationX>
        <locationY>783</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Candidate.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Applicant_Type</name>
        <label>Applicant Type</label>
        <locationX>790</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grad_Type</targetReference>
            </connector>
            <label>Grad</label>
        </rules>
        <rules>
            <name>Full_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Candidate_Email_of_Site</targetReference>
            </connector>
            <label>Full Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grad_Type</name>
        <label>Grad Type</label>
        <locationX>499</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Bursary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.Graduate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Bursary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Candidate_Email_of_Site</targetReference>
            </connector>
            <label>Non Bursary</label>
        </rules>
        <rules>
            <name>Bursary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.Graduate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bursary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matric_Ave</targetReference>
            </connector>
            <label>Bursary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hiring_Manager_Interview</name>
        <label>Hiring Manager Interview</label>
        <locationX>972</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hiring_Manager_Interview_Decline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Interview</label>
        </rules>
        <rules>
            <name>Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hiring_Manager_Interview_Decline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeclineDec</targetReference>
            </connector>
            <label>Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matric_Ave</name>
        <label>Matric Ave</label>
        <locationX>130</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MeetsRequirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatricAve</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>65.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Matric_Average__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Candidate_Email_of_Site</targetReference>
            </connector>
            <label>MeetsRequirements</label>
        </rules>
        <rules>
            <name>Doesnt_Meet_Requirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Matric_Average__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatricAve</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>65.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regret</targetReference>
            </connector>
            <label>Doesnt Meet Requirements</label>
        </rules>
    </decisions>
    <description>Flow that sends applicant email with link</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>MatricAve</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!Get_Candidate.Matric_Average__c}, LEN({!Get_Candidate.Matric_Average__c}) - 1))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UniAveNum</name>
        <dataType>Number</dataType>
        <expression>VALUE ({!Get_Candidate.University_Average__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Application RTF Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application RTF Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>916</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DeclineDec</name>
        <label>Decline</label>
        <locationX>1428</locationX>
        <locationY>383</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Regret</name>
        <label>Regret</label>
        <locationX>4</locationX>
        <locationY>271</locationY>
        <inputAssignments>
            <field>Bursary_Status__c</field>
            <value>
                <stringValue>Regret</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>79</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>Bursary_Status__c</field>
            <value>
                <stringValue>Ai Agent Screening</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interviewing</name>
        <label>Update Interviewing</label>
        <locationX>1525</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Interviewing with hiring Manager</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>809</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Welcome {!$Record.Candidate__r.First_Name__c}&lt;/p&gt;&lt;p&gt;Congratulations!&amp;nbsp;You have successfully applied to the {!$Record.Job_Spec__r.Job_Title__c} position with McForce in the {!$Record.Job_Spec__r.Department__c} department —where &lt;strong&gt;AI-driven innovation&lt;/strong&gt; is shaping the future of Salesforce!&lt;/p&gt;&lt;p&gt;We are thrilled to have you in our recruitment process. The next step is simple: Click this &lt;a href=&quot;https://orgfarm-f9c82a88ed-dev-ed.develop.my.site.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(1, 68, 134);&quot;&gt;Link&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;to start chatting with our AI Recruitment Agent, designed to guide you through the process and start talking with the AI Recruitment Agent -&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;🗝 Present &lt;strong&gt;Your Secret Candidate Identifier:{!$Record.Application_Code__c}&lt;/strong&gt;&quot; and 📩&amp;nbsp;email address to begin&lt;/p&gt;&lt;p&gt;Let’s get started on your journey to &lt;strong&gt;shape the future of AI-powered CRM&lt;/strong&gt;. We can’t wait to learn more about you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards, The McForce Talent Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Good day&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have successfully applied to the {!$Record.Job_Spec__r.Name} position with PWC in the {!$Record.Job_Spec__r.Department__c} department&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please follow this &lt;a href=&quot;https://orgfarm-f9c82a88ed-dev-ed.develop.my.site.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link&lt;/a&gt; and start talking to the Bot&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GraduateEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Good day {!Get_Candidate.First_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have successfully applied to the {!$Record.Job_Spec__r.Name} Graduate Program with PwC in the {!$Record.Job_Spec__r.Department__c} department&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please follow this&amp;nbsp;&lt;a href=&quot;https://orgfarm-f9c82a88ed-dev-ed.develop.my.site.com/Grad&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link&lt;/a&gt;&amp;nbsp;and start talking to our AI Recruitment Agent - Provide the agent with this secret candidate identifier &quot;{!$Record.Application_Code__c}&quot; and email address&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Georgia, serif; color: rgb(34, 34, 34);&quot;&gt;Desmond Mc Donald (ZA)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 7.5pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;PwC | South Africa Technology and Innovation Centre (SATIC): Manager&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 7.5pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Office: +27 (11) 287 0979&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 7.5pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Email:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:desmond.mc.donald@pwc.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 7.5pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;desmond.mc.donald@pwc.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Follow me on LinkedIn:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.linkedin.com/in/desmond-mc-donald-03157823/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;LinkedIn&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 7.5pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;PricewaterhouseCoopers 4 Lisbon Lane, Waterfall City, Jukskei view, 2090&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.pwc.com/za&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 7.5pt; color: rgb(17, 85, 204); font-family: Arial, sans-serif;&quot;&gt;http://www.pwc.com/za&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your McForce Journey Begins! 🚀</text>
    </textTemplates>
</Flow>
