force-app/main/default/flows/Applicants_data_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Successful_Candidate</name>
        <label>Assign Successful Candidate</label>
        <locationX>50</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>InterviewingCandidatesDataTable.firstSelectedRow.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinalSuccessfulApp.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_to_Coll</name>
        <label>Assign to Coll</label>
        <locationX>1454</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>ColApplicants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TxtChosenAps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applicant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Chosen_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Interview</name>
        <label>Set To Interview</label>
        <locationX>1616</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>Applicant.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Chosen_Candidates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Hiring_Manager_Interview_Decline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interview</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interviewing with hiring Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Coll</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Unsuccessful_Apps</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Unsuccessful Apps</label>
        <locationX>1310</locationX>
        <locationY>941</locationY>
        <assignNextValueToReference>currentItem_Filter_Unsuccessful_Apps</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Applicants</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Unsuccessful_Apps.Hiring_Manager_Interview_Decline__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Unsuccessful_Apps.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>ApplicantsTable.firstSelectedRow.Id</elementReference>
            </rightValue>
        </conditions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Unsuccessful_Candidates_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Unsuccessful Candidates Filter</label>
        <locationX>218</locationX>
        <locationY>1013</locationY>
        <assignNextValueToReference>currentItem_Get_Unsuccessful_Candidates_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Applictions_that_are_inteviewing</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Unsuccessful_Candidates_Filter.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>InterviewingCandidatesDataTable.firstSelectedRow.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Declined_Interviewed_Applicants_Transform</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>841</locationX>
        <locationY>137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_be_reviewed_by_HM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Job.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidates to be reviewed by Hiring Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicants</targetReference>
            </connector>
            <label>To be reviewed by HM</label>
        </rules>
        <rules>
            <name>In_Interviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Job.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Manager Interviews</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applictions_that_are_inteviewing</targetReference>
            </connector>
            <label>In Interviews</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Starttimeformula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 7</expression>
    </formulas>
    <interviewLabel>Applicants data Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicants data Table</label>
    <loops>
        <name>Loop_Chosen_Candidates</name>
        <label>Loop Chosen Candidates</label>
        <locationX>1141</locationX>
        <locationY>717</locationY>
        <collectionReference>ApplicantsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_To_Interview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Candidates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meeting</name>
        <label>Create Meeting</label>
        <locationX>1261</locationX>
        <locationY>1217</locationY>
        <connector>
            <targetReference>Event_Relation</targetReference>
        </connector>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventSubtype</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Job.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Starttimeformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Relation</name>
        <label>Event Relation</label>
        <locationX>920</locationX>
        <locationY>1186</locationY>
        <connector>
            <targetReference>Update_Job_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>Create_Meeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>Attendees.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>817</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApplicantsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Spec__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To be reviewed by Hiring Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applictions_that_are_inteviewing</name>
        <label>Get Applictions that are inteviewing</label>
        <locationX>425</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interviewing_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Spec__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interviewing with hiring Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unsuccessful_Apps</name>
        <label>Get Unsuccessful Apps</label>
        <locationX>1184</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Unsuccessful_Apps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>TxtChosenAps</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unsuccessful_Candidates</name>
        <label>Get Unsuccessful Candidates</label>
        <locationX>281</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ChosenApplicants</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Application</name>
        <label>Application</label>
        <locationX>181</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Update_Job_Status_to_Verifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterviewingCandidatesDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verifications Sent - pending</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Candidates</name>
        <label>Candidates</label>
        <locationX>1041</locationX>
        <locationY>989</locationY>
        <connector>
            <targetReference>Get_Unsuccessful_Apps</targetReference>
        </connector>
        <inputReference>ColApplicants</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Decline_Applicants</name>
        <label>Decline Applicants</label>
        <locationX>1587</locationX>
        <locationY>1296</locationY>
        <connector>
            <targetReference>Create_Meeting</targetReference>
        </connector>
        <inputReference>Transform_Unsuccessful_Apps</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Decline_Interviewed_Candidates</name>
        <label>Decline Interviewed Candidates</label>
        <locationX>198</locationX>
        <locationY>1508</locationY>
        <inputReference>Declined_Interviewed_Applicants_Transform</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Status</name>
        <label>Update Job Status</label>
        <locationX>1077</locationX>
        <locationY>1465</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Hiring Manager Interviews</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Spec__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Status_to_Verifications</name>
        <label>Update Job Status to Verifications</label>
        <locationX>239</locationX>
        <locationY>773</locationY>
        <connector>
            <targetReference>Get_Unsuccessful_Candidates_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Background Checks</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Spec__c</object>
    </recordUpdates>
    <screens>
        <name>ApplicantsScreen</name>
        <label>ApplicantsScreen</label>
        <locationX>975</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attendees_Screen</targetReference>
        </connector>
        <fields>
            <name>ApplicantsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Applicants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1279&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Application Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Application_Rating__c&quot;,&quot;guid&quot;:&quot;column-0614&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Application Rating&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Select</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Attendees_Screen</name>
        <label>Attendees Screen</label>
        <locationX>942</locationX>
        <locationY>568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Chosen_Candidates</targetReference>
        </connector>
        <fields>
            <name>Attendees</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Hiring_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attendees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Job_Spec__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Interviewing_Screen</name>
        <label>Interviewing Screen</label>
        <locationX>267</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application</targetReference>
        </connector>
        <fields>
            <name>InterviewingCandidatesDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Candidates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Applictions_that_are_inteviewing</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fd9c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Application Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Application_Rating__c&quot;,&quot;guid&quot;:&quot;column-ce92&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Application Rating&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Select</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1025</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Declined_Interviewed_Applicants_Transform</name>
        <label>Declined Interviewed Applicants Transform</label>
        <locationX>162</locationX>
        <locationY>1275</locationY>
        <connector>
            <targetReference>Decline_Interviewed_Candidates</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Application__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Unsuccessful_Candidates_Filter[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Unsuccessful</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Unsuccessful_Apps</name>
        <label>Transform Unsuccessful Apps</label>
        <locationX>1460</locationX>
        <locationY>1040</locationY>
        <connector>
            <targetReference>Decline_Applicants</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Application__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Unsuccessful</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Hiring_Manager_Interview_Decline__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Decline</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Unsuccessful_Apps[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Applicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ChosenApplicants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColApplicants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Unsuccessful_Apps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Unsuccessful_Candidates_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>FinalSuccessfulApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>FinalSuccessfulCandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
    <variables>
        <name>TxtChosenAps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
