force-app/main/default/flows/Application_Questions_and_Answers_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Candidate_Type</name>
        <label>Candidate Type</label>
        <locationX>748</locationX>
        <locationY>572</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candidate.Candidate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>Full time</label>
        </rules>
        <rules>
            <name>Grad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candidate.Candidate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grad</targetReference>
            </connector>
            <label>Grad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Didnt_meet_non_negotiables</name>
        <label>Didnt meet non negotiables</label>
        <locationX>915</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>Decline_Grad_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Did_not_meet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RealMatricAve</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Criminal</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decline_Grad</targetReference>
            </connector>
            <label>Did not meet</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RealMatricAve</name>
        <dataType>Number</dataType>
        <expression>VALUE ({!MatricAve})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Application Questions and Answers Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Questions and Answers Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>appli</name>
        <label>Get application</label>
        <locationX>882</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>882</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputReference>Candidate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Career_Title__c</queriedFields>
        <queriedFields>Career_Goals__c</queriedFields>
        <queriedFields>Cost_To_Company__c</queriedFields>
        <queriedFields>Cost_To_Company_Breakdown__c</queriedFields>
        <queriedFields>Reason_for_leaving_current_role__c</queriedFields>
        <queriedFields>Candidate_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>882</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appli.Job_Spec__c</elementReference>
            </value>
        </filters>
        <object>Job_Spec__c</object>
        <outputReference>Job_Spec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Candidate_Specific_Questions__c</queriedFields>
        <queriedFields>Questions_to_ask__c</queriedFields>
        <queriedFields>Job_Title__c</queriedFields>
        <queriedFields>Non_Negotiables__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Decline_Grad</name>
        <label>Decline Grad</label>
        <locationX>616</locationX>
        <locationY>793</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appli.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Decline_Grad_0</name>
        <label>Move Forward</label>
        <locationX>1053</locationX>
        <locationY>903</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appli.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Recruiter Review</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>486</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Update_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appli.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Questions_and_Answers__c</field>
            <value>
                <elementReference>QuestionsAndAnswers</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>486</locationX>
        <locationY>722</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Career_Goals__c</field>
            <value>
                <elementReference>CareerGoals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_To_Company_Breakdown__c</field>
            <value>
                <elementReference>CTCBreakdown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_To_Company__c</field>
            <value>
                <elementReference>CTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_leaving_current_role__c</field>
            <value>
                <elementReference>ReasonForLeaving</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Grad</name>
        <label>Update Grad</label>
        <locationX>1231</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Didnt_meet_non_negotiables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appli.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Been_in_a_SAICA_Contract__c</field>
            <value>
                <elementReference>SAICA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criminal_record__c</field>
            <value>
                <elementReference>Criminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_in_PWC__c</field>
            <value>
                <elementReference>FamInPWC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matric_Average__c</field>
            <value>
                <elementReference>MatricAve</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matric_Results__c</field>
            <value>
                <elementReference>MatricResults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Negotiables__c</field>
            <value>
                <elementReference>NonNegotiables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Office__c</field>
            <value>
                <elementReference>FirstPrefOffice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questions_and_Answers__c</field>
            <value>
                <elementReference>QuestionsAndAnswers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_preferred_office__c</field>
            <value>
                <elementReference>SecondPrefOffice</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>appli</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Candidate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>CandidateSpecificQuestions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CareerGoals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Criminal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTCBreakdown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FamInPWC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstPrefOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Job_Spec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
    <variables>
        <name>MatricAve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatricAveNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MatricResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NonNegotiables</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestionsAndAnswers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReasonForLeaving</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAICA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondPrefOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
