force-app/main/default/flows/Create_Candidate_and_App_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Job_Type</name>
        <label>Job Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Job.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Candidate</targetReference>
            </connector>
            <label>Full Time</label>
        </rules>
        <rules>
            <name>Grad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Job.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Grad</targetReference>
            </connector>
            <label>Grad</label>
        </rules>
    </decisions>
    <description>Create From Button</description>
    <environments>Default</environments>
    <interviewLabel>Create Candidate and App Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Candidate and App Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_App</name>
        <label>Copy 1 of Create App</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>Full Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>Create_Candidate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Spec__c</field>
            <value>
                <elementReference>get_Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Candidate_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_App</name>
        <label>Create App</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>Graduate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>Create_Grad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Spec__c</field>
            <value>
                <elementReference>get_Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Candidate_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012gK000000dL1NQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Candidate</name>
        <label>Create Candidate</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_App</targetReference>
        </connector>
        <inputAssignments>
            <field>CV_Title__c</field>
            <value>
                <elementReference>CV_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Type__c</field>
            <value>
                <stringValue>Full Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Candidate_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Grad</name>
        <label>Create Grad</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_App</targetReference>
        </connector>
        <inputAssignments>
            <field>CV_Title__c</field>
            <value>
                <elementReference>CV_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Type__c</field>
            <value>
                <stringValue>Graduate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Candidate_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012gK000000cQMTQA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Number__c</field>
            <value>
                <elementReference>Student_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Job</name>
        <label>get Job</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Candidate_Screen</name>
        <label>Candidate Screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Job_Type</targetReference>
        </connector>
        <fields>
            <name>Candidate_Name</name>
            <dataType>String</dataType>
            <fieldText>Candidate Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CV_Title</name>
            <dataType>String</dataType>
            <fieldText>CV Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Student_Number</name>
            <dataType>String</dataType>
            <fieldText>Student Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Job.Job_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Graduate</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
