force-app/main/default/flows/Create_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Applicants_Transform</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Applications</targetReference>
        </connector>
    </assignments>
    <description>Create Applications from Recommended Candidates</description>
    <environments>Default</environments>
    <interviewLabel>Create Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Applications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Applications</name>
        <label>Create Applications</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>Applications</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidates</name>
        <label>Get Candidates</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicants_Transform</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>In</operator>
            <value>
                <elementReference>EmailAdress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Applicants_Transform</name>
        <label>Applicants Transform</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Application__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Candidate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Candidates[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Candidates[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Job_Spec__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Job_Spec.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>a02gK000000hVJtQAM</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Application_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Full Time</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Application_Rating__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ApplicationRating</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Overview_of_applicant__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Resume_Summary</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ApplicationRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>Candidates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>EmailAdress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Job_Spec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
    <variables>
        <name>Rating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Resume_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Varcandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
