force-app/main/default/flows/Get_Candidates_That_Applied_Prompt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Applicant_Instructions</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Applicant Instructions</label>
        <locationX>648</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Information: 
Candidate Name: {!Loop_Applications.Name}
Candidate Rating: {!Loop_Applications.Application_Rating__c}
candidate RecordId: {!Loop_Applications.Candidate__c}
Overview of Candidate: {!Loop_Applications.Overview_of_applicant__c}
Why they are a good match for this job spec: {!Loop_Applications.What_makes_applicant_a_good_fit__c}
why they are a bad match: {!Loop_Applications.What_requirements_Skills_missing__c}
Candidate Information:
Candidate Name: {!Loop_Applications.Candidate__r.Name}
Certifications {!Loop_Applications.Candidate__r.Certifications__c}
Education: {!Loop_Applications.Candidate__r.Education__c}
Level: {!Loop_Applications.Candidate__r.Seniority_Level__c}
Skills: {!Loop_Applications.Candidate__r.Skills__c}
Work History: {!Loop_Applications.Candidate__r.Work_History__c}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applications</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Candidates That Applied Prompt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Candidates That Applied Prompt</label>
    <loops>
        <name>Loop_Applications</name>
        <label>Loop Applications</label>
        <locationX>288</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Applicant_Instructions</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>234</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Spec__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recruiter_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Good Fit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>531</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Spec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Job_Spec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Spec__c</objectType>
    </variables>
</Flow>
