force-app/main/default/flows/Get_Candidates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Multiple_to_single</name>
        <label>Assign Multiple to single</label>
        <locationX>921</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>Varcandidates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarCandidate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopp_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_list</name>
        <label>Assign to list</label>
        <locationX>589</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>Varcandidates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lopp_Candidates.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Multiple_to_single</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Candidates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Candidates</label>
    <loops>
        <name>Lopp_Candidates</name>
        <label>Lopp Candidates</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <collectionReference>Get_all_CAndidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_list</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_CAndidates</name>
        <label>Get all CAndidates</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lopp_Candidates</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_all_CAndidates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Varcandidates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
