force-app/main/default/flows/Recommend_Jobs_to_candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Prompt_Instructions_1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Prompt Instructions 1</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name: {!Loop_Jobs.Name}
Position Title: {!Loop_Jobs.Name}
Seniority Level: {!Loop_Jobs.Seniority_Level__c}
Job Description: {!Loop_Jobs.Job_Description__c}
Additional Information: {!Loop_Jobs.Additional_Information__c}
Industry: {!Loop_Jobs.Industry__c}
Employment Type: {!Loop_Jobs.Employment_Type__c}
Required Skills: {!Loop_Jobs.Required_Skills__c}
Required Qualifications: {!Loop_Jobs.RequiredQualifications__c}
Required Experience: {!Loop_Jobs.Required_Experience__c}
Industries Worked in: {!Loop_Jobs.Industries_Worked_in__c}
The Perfect Candidate: {!Loop_Jobs.The_Perfect_Candidate__c}
Salary Range Minimum: {!Loop_Jobs.Salary_Range_Minimum__c}
Salary Range Maximum: {!Loop_Jobs.Salary_Range_Maximum__c}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Recommend Jobs to candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommend Jobs to candidate</label>
    <loops>
        <name>Loop_Jobs</name>
        <label>Loop Jobs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Job_Specs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Prompt_Instructions_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Specs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Specs</name>
        <label>Get Job Specs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Jobs</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
