force-app/main/default/flows/Summarise_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Prompt_Instructions_1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Prompt Instructions 1</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Summarise:  {!$Input.objectToSummarize.Job_Description__c}

</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Summarise Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summarise Jobs</label>
    <loops>
        <name>Looped_Jobs</name>
        <label>Looped Jobs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Job_Specs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Add_Prompt_Instructions_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Specs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Specs</name>
        <label>Get Job Specs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looped_Jobs</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__recordSummary</name>
            <capabilityName>PromptTemplateType://einstein_gpt__recordSummary</capabilityName>
            <inputs>
                <name>objectToSummarize</name>
                <capabilityInputName>objectToSummarize</capabilityInputName>
                <dataType>SOBJECT://Job_Spec__c</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
