force-app/main/default/flows/Update_Application_Final_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Candidate_Type</name>
        <label>Candidate Type</label>
        <locationX>980</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Candidate.Candidate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>Full Time</label>
        </rules>
        <rules>
            <name>Graduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Candidate.Candidate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grad_App</targetReference>
            </connector>
            <label>Graduate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_Negotiables</name>
        <label>Non Negotiables</label>
        <locationX>863</locationX>
        <locationY>680</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Non_Negotiables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonNegotiables</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to</targetReference>
            </connector>
            <label>Have Non Negotiables</label>
        </rules>
        <rules>
            <name>Does_Not_Have_Non_Negotiables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonNegotiables</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decline</targetReference>
            </connector>
            <label>Does Not Have Non Negotiables</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Application Final Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Application Final Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Candidate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Candidate</name>
        <label>get Candidate</label>
        <locationX>776</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Job_Spec__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decline</name>
        <label>Decline</label>
        <locationX>880</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>673</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Non_Negotiables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Rating__c</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Negotiables__c</field>
            <value>
                <elementReference>NonNegotiables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_of_applicant__c</field>
            <value>
                <elementReference>Overview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_makes_applicant_a_good_fit__c</field>
            <value>
                <elementReference>GoodFit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_requirements_Skills_missing__c</field>
            <value>
                <elementReference>BadFit</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Grad_App</name>
        <label>Update Grad App</label>
        <locationX>1146</locationX>
        <locationY>617</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Been_in_a_SAICA_Contract__c</field>
            <value>
                <elementReference>SAICAcontract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criminal_record__c</field>
            <value>
                <elementReference>Crimrecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_in_PWC__c</field>
            <value>
                <elementReference>FamInPWC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matric_Average__c</field>
            <value>
                <elementReference>MatricAve</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matric_Results__c</field>
            <value>
                <elementReference>MatricResults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Negotiables__c</field>
            <value>
                <elementReference>NonNegotiables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Office__c</field>
            <value>
                <elementReference>Firstpreferredoffice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_preferred_office__c</field>
            <value>
                <elementReference>Secondpreferredoffice</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to</name>
        <label>Update Status to</label>
        <locationX>512</locationX>
        <locationY>722</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Qualifying questions</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BadFit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Crimrecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FamInPWC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Firstpreferredoffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GoodFit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Job_Spec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatricAve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatricResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NonNegotiables</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Overview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SAICAcontract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Secondpreferredoffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
