force-app/main/default/flows/Update_Application_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Academic_Transcript_Search</name>
        <label>Invoke Academic Transcript Search</label>
        <locationX>1109</locationX>
        <locationY>768</locationY>
        <actionName>Agentforce_Recruitment_Agent_Invokable</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Update_Graduate_with_Academic_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>bring up the Candidate&apos;s Academic transcript, the Student nr/id is
{!$Record.Student_Number__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Recruitment_Agent_Invokable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Search_CV</name>
        <label>Invoke Search CV</label>
        <locationX>601</locationX>
        <locationY>764</locationY>
        <actionName>Agentforce_Recruitment_Agent_Invokable</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Update_application</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!Userinputtemplate}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Recruitment_Agent_Invokable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_application</name>
        <label>Update application</label>
        <locationX>486</locationX>
        <locationY>888</locationY>
        <actionName>Agentforce_Recruitment_Agent_Invokable</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Invoke_Search_CV.sessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Please update the Application record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Recruitment_Agent_Invokable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Graduate_with_Academic_Results</name>
        <label>Update Graduate with Academic Results</label>
        <locationX>1537</locationX>
        <locationY>993</locationY>
        <actionName>Agentforce_Recruitment_Agent_Invokable</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Invoke_Academic_Transcript_Search.sessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>update the candidate record with the Academic Transcript information</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Recruitment_Agent_Invokable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Candidate_Type</name>
        <label>Candidate Type</label>
        <locationX>892</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applications</targetReference>
            </connector>
            <label>Full Time</label>
        </rules>
        <rules>
            <name>Graduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Graduate_Type</targetReference>
            </connector>
            <label>Graduate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Graduate_Type</name>
        <label>Graduate Type</label>
        <locationX>1289</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Bursary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Graduate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Bursary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Academic_Transcript_Search</targetReference>
            </connector>
            <label>Non Bursary</label>
        </rules>
        <rules>
            <name>Bursary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Graduate_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bursary</stringValue>
                </rightValue>
            </conditions>
            <label>Bursary</label>
        </rules>
    </decisions>
    <description>Wait a minute</description>
    <environments>Default</environments>
    <interviewLabel>Update Application RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Application RTF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>487</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Spec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Spec</name>
        <label>Get Job Spec</label>
        <locationX>883</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_Search_CV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Job_Spec__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Spec__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>649</locationX>
        <locationY>47</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AI_Updated_Fields__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Candidate__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_a_minute</name>
            <connector>
                <targetReference>Candidate_Type</targetReference>
            </connector>
            <label>Wait a minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Userinputtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Can you match the candidate ( Candidate recordID:{!$Record.Id}) to the job spec they applied (Job Spec ID: {!Get_Job_Spec.Id}) for, and just for reference this is the application record (Application Record: {!Get_Applications.Id})&lt;/p&gt;</text>
    </textTemplates>
</Flow>
