force-app/main/default/flows/Update_Candidate_after_qs_TF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Career_Goals_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Career Goals</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Question to Ask: &quot;Whats is your career goals&quot; 
Push Answer in {!CareerGoals} Variable
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CareerTitlePrompt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CareerTitlePrompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>CareerTitlePrompt</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Find the Career Title{!CareerTitle} on last position held
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Candidate after qs TF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Candidate after qs TF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Career_Goals_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Career_Goals__c</field>
            <value>
                <elementReference>CareerGoals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Career_Title__c</field>
            <value>
                <elementReference>CareerTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prefer_Working_Inhouse_Or_Consulting__c</field>
            <value>
                <elementReference>InhouseConsulting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_leaving_current_role__c</field>
            <value>
                <elementReference>ReasonForLeaving</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Willing_to_work_Contract_Work__c</field>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CareerGoals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareerTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InhouseConsulting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReasonForLeaving</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
